* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.header-content span {
  text-transform: uppercase;
  color: #26B091;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 2.36px;
}

.header-content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
  height: 195px;
  background-color: #333537;
  border: 1px solid #979797;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}