* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFF1F4;
}

.header-content span {
  text-transform: uppercase;
  color: #26B091;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 2.36px;
}

.header-content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
  height: 195px;
  background-color: #333537;
  border: 1px solid #979797;
  margin-bottom: 30px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#search-container {
/*  text-align: center;*/
}
#search-bar {
  width: 730px;
  height: 82px;
  padding-right: 153px;
  color: #333537;
  border-radius: 4px;
  border: 0px;
  border-color: #D8D8D8;
  box-shadow: inset 2px 2px 2px 0px #ddd;
  padding: 0px;
  padding-left: 30px;
  font-size: 24px;
  font-family: 'Courier New', monospace;
}

.search-again-button {
  width: 134px;
  height: 21px;
  background-color: #26B091;
  color: white;
  margin-left: -153px;
  left: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 0px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

.search-again-button:active {
  background-color: #57dbbb;
}

.hidden {
  visibility: hidden;
}

pre {
  font-family: 'Courier New', monospace;
  margin: 30px auto 0px;
  width: 800px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #E2E6EB;
}
/*.search-button-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  height: 82px;
  width: 140px;
  /*display: table-cell;
/*  vertical-align: middle;*/
/*  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
/*}*/

.v-h-center {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-list {
  margin: 5px auto 0px;
  list-style: none;
  list-style-position: inside;
  padding: 0px;
  background-color: white;
  width: 730px;
  display: block;

}

.results-list li {
  padding-left: 13px;
  color: #65686C;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  height: 51px;
  line-height: 51px;
}

/*.results-list li::after {
  height: 1px;
  width: 100px;
  background-color: #E7E9EB; 
}*/

/*.results-list li:after {
  content: ".";
  border-bottom:1px solid grey;
  width:60%;
  display:block;
  margin:0 auto;
}*/


.results-list li+li::before {
    content: "";
    display: block;
    height: 1px;
    margin: 0px 10px 0px -3px;
    background-color: #E7E9EB;
}
.results-list li:hover {
  background-color: #26B08F;
  color: white;
  font-weight: bold;
}

/*distance between search bar and results list: 5px.  between bar and lyric display: 30px*/

/*placeholder color: #BDC3C7*/
/*input::-webkit-input-placeholder {
color: red !important;
}*/
 
/*input:-moz-placeholder {*/ /* Firefox 18- */
/*color: red !important;  
}*/
 
/*input::-moz-placeholder { */ /* Firefox 19+ */
/*color: red !important;  
}
*/
/*input:-ms-input-placeholder {  
color: red !important;  
}*/